<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.haulmont.addon.restapi"/>

    <bean id="restapi_MBeanExporter" class="com.haulmont.cuba.core.sys.jmx.MBeanExporter" lazy-init="false">
        <property name="beans">
            <map>
                <entry key="${cuba.webContextName}.restapi:type=ServerTokenStore"
                       value-ref="cuba_ServerTokenStoreMBean"/>
            </map>
        </property>
    </bean>

    <bean id="restapi_scheduler" class="com.haulmont.cuba.core.sys.CubaThreadPoolTaskScheduler">
        <property name="daemon" value="true"/>
        <property name="poolSize" value="10"/>
        <property name="statisticsAccumulator" ref="cuba_MiddlewareStatisticsAccumulator"/>
        <property name="threadNamePrefix" value="cuba_core_scheduler-"/>
    </bean>

    <task:scheduled-tasks scheduler="restapi_scheduler">
        <task:scheduled ref="restapi_ServerTokenStore" method="deleteExpiredTokens" cron="${cuba.rest.deleteExpiredTokensCron?:0 0 3 * * ?}"/>
    </task:scheduled-tasks>

</beans>
