<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.haulmont.addon.restv2"/>

    <bean id="restv2_MBeanExporter" class="com.haulmont.cuba.core.sys.jmx.MBeanExporter" lazy-init="false">
        <property name="beans">
            <map>
                <entry key="${cuba.webContextName}.restv2:type=ServerTokenStore"
                       value-ref="restv2_ServerTokenStoreMBean"/>
            </map>
        </property>
    </bean>

    <bean id="restv2_scheduler" class="com.haulmont.cuba.core.sys.CubaThreadPoolTaskScheduler">
        <property name="daemon" value="true"/>
        <property name="poolSize" value="10"/>
        <property name="statisticsAccumulator" ref="cuba_MiddlewareStatisticsAccumulator"/>
        <property name="threadNamePrefix" value="cuba_core_scheduler-"/>
    </bean>

    <task:scheduled-tasks scheduler="restv2_scheduler">
        <task:scheduled ref="restv2_ServerTokenStore" method="deleteExpiredTokens" cron="${cuba.rest.deleteExpiredTokensCron?:0 0 3 * * ?}"/>
    </task:scheduled-tasks>

</beans>
